<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us">
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Your Name</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=DM+Sans:300,400,400italic,700,700italic,900'>

    <!-- CSS -->
    <link rel='stylesheet' href='css/global.css'>
    <link rel='stylesheet' href='css/structure.css'>
    <link rel='stylesheet' href='css/ecofood.css'>
    <link rel='stylesheet' href='css/custom.css'>

</head>

<body class="page theme-betheme woocommerce-no-js style-simple button-round layout-full-width if-zoom if-border-hide no-content-padding hide-love no-shadows header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-left menu-line-below-80-1 menuo-right menuo-no-borders mobile-tb-center mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <!-- Logo -->
                                <div class="logo">
                                    <a id="logo" href="index.html" title="BeEcoFood - BeTheme" data-height="100" data-padding="20"><img class="logo-main scale-with-grid" src="images/logo_white_@1x.png" data-retina="images/logo_white_@2x.png" data-height="117" data-no-retina /><img class="logo-sticky scale-with-grid" src="images/logo-sticky.png" data-retina="images/ecofood-logo-stiky-retina.png" data-height="27" data-no-retina /><img class="logo-mobile scale-with-grid" src="images/logo-sticky.png" data-retina="images/ecofood-logo-stiky-retina.png" data-height="27" data-no-retina /><img class="logo-mobile-sticky scale-with-grid" src="images/logo-sticky.png" data-retina="images/ecofood-logo-stiky-retina.png" data-height="27" data-no-retina /></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-menu" class="menu menu-main">
                                            <li>
                                                <a href="index.html"><span>Home</span></a>
                                            </li>
                                            <li class="current-menu-item">
                                                <a href="about.html"><span>About us</span></a>
                                            </li>
                                            <li>
                                                <a href="products.html"><span>Products</span></a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

        </div>
        
        <footer id="Footer" class="clearfix">
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <div class="copyright">
                            &copy; 20XX Your Name - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a>
                        </div>
                        <ul class="social">
                            <li class="facebook">
                                <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
                            </li>
                            <li class="twitter">
                                <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                            </li>
                            <li class="instagram">
                                <a href="#" title="Instagram"><i class="icon-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>


    <!-- JS -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/ui/jquery-ui.min.js"></script>

    <script src="js/mfn.menu.js"></script>
    <script src="js/jquery.plugins.js"></script>
    <script src="js/jquery.jplayer.min.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/translate3d.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/email.js"></script>


</body>

</html>