<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-us" >
<!--<![endif]-->

<head>

    <!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>Your Name</title>

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Favicons -->
    <link rel="shortcut icon" href="images/favicon.ico">

    <!-- FONTS -->
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Patua+One:100,300,400,400italic,700'>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=DM+Sans:300,400,400italic,700,700italic,900'>

    <!-- CSS -->
    <link rel='stylesheet' href='css/global.css'>
    <link rel='stylesheet' href='css/structure.css'>
    <link rel='stylesheet' href='css/ecofood.css'>
    <link rel='stylesheet' href='css/custom.css'>

</head>

<body class="product-template-default single single-product theme-betheme woocommerce woocommerce-page woocommerce-no-js style-simple button-round layout-full-width if-zoom if-border-hide hide-love no-shadows header-transparent header-fw minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-left menu-line-below-80-1 menuo-right menuo-no-borders mobile-tb-center mobile-mini-mr-ll tablet-sticky mobile-header-mini mobile-sticky">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header">
                <div id="Top_bar">
                    <div class="container">
                        <div class="column one">
                            <div class="top_bar_left clearfix">
                                <!-- Logo -->
                                <div class="logo">
                                    <a id="logo" href="index.html" title="BeEcoFood - BeTheme" data-height="100" data-padding="20"><img class="logo-main scale-with-grid" src="images/logo_white_@1x.png" data-retina="images/logo_white_@2x.png" data-height="117" data-no-retina /><img class="logo-sticky scale-with-grid" src="images/logo-sticky.png" data-retina="images/ecofood-logo-stiky-retina.png" data-height="27" data-no-retina /><img class="logo-mobile scale-with-grid" src="images/logo-sticky.png" data-retina="images/ecofood-logo-stiky-retina.png" data-height="27" data-no-retina /><img class="logo-mobile-sticky scale-with-grid" src="images/logo-sticky.png" data-retina="images/ecofood-logo-stiky-retina.png" data-height="27" data-no-retina /></a>
                                </div>
                                <div class="menu_wrapper">
                                    <nav id="menu">
                                        <ul id="menu-menu" class="menu menu-main">
                                            <li>
                                                <a href="index.html"><span>Home</span></a>
                                            </li>
                                            <li>
                                                <a href="about.html"><span>About us</span></a>
                                            </li>
                                            <li class=" current_page_parent current-menu-item">
                                                <a href="products.html"><span>Products</span></a>
                                            </li>
                                        </ul>
                                    </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu-fine"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div id="Subheader">
                <div class="container">
                    <div class="column one">
                        <h2 class="title">Products</h2>
                    </div>
                </div>
            </div>
        </div>
        <div id="Content">
            <div class="content_wrapper clearfix">
                <div class="sections_group">
                    <div class="section">
                        <div class="section_wrapper clearfix">
                            <div class="items_group clearfix">
                                <div class="column one woocommerce-content">

                                    <div class="woocommerce-notices-wrapper"></div>
                                    <div id="product-116" class="share-simple wide tabs product type-product first instock product_cat-uncategorized has-post-thumbnail shipping-taxable purchasable product-type-simple">

                                        <div class="product_wrapper clearfix">

                                            <div class="column one-second product_image_wrapper">

                                                <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-4 images" data-columns="4">
                                                    <figure class="woocommerce-product-gallery__wrapper">

                                                        <img src="images/products/napa-cabbage.jpg" class="wp-post-image" title="Napa Cabbage" data-src="images/products/napa-cabbage.jpg" data-large_image="images/products/napa-cabbage.jpg" data-large_image_width="780" data-large_image_height="975" />

                                                    </figure>
                                                </div>
                                            </div>

                                            <div class="summary entry-summary column one-second">

                                                <h1 class="product_title entry-title">Cabbage</h1>
                                                <p class="price">
                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&dollar;</span>1.20</span>
                                                </p>
                                                <div class="woocommerce-product-details__short-description">
                                                    <p>
                                                        Curabitur volutpat ligula ut tellus suscipit dolor. Vestibulum fermentum. Vivamus diam in accumsan dictum, laoreet sapien. Suspendisse a lorem ligula, sit amet, neque. Etiam rutrum. Donec pharetra pede. Sed vel nulla. Nullam pharetra volutpat. Donec eleifend
                                                        ut, pellentesque vel, dignissim erat ornare laoreet. Aenean sit amet dolor.
                                                    </p>
                                                </div>

                                                
                                            </div>

                                        </div>

                                    </div>

                                    

                                    <section class="related products">

                                        <h3>Related products</h3>

                                        <div class="products_wrapper isotope_wrapper">
                                            <ul class="products">

                                                <li class="isotope-item product type-product first instock product_cat-uncategorized has-post-thumbnail shipping-taxable purchasable product-type-simple">

                                                    <div class="image_frame scale-with-grid product-loop-thumb" ontouchstart="this.classList.toggle('hover');">
                                                        <div class="image_wrapper">
                                                            <a href="product.html">
                                                                <div class="mask"></div><img src="images/products/salmon.jpg" class="scale-with-grid wp-post-image" /></a>
                                                            <div class="image_links double">
                                                                <a rel="nofollow" href="#" data-quantity="1" data-product_id="111" class="add_to_cart_button ajax_add_to_cart product_type_simple"><i class="icon-basket"></i></a><a class="link" href="product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div><a href="product.html"><span class="product-loading-icon added-cart"></span></a>
                                                    </div>
                                                    <div class="desc">

                                                        <h4><a href="product.html">Salmon</a></h4>

                                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&dollar;</span>3.10</span>
                                                        </span>

                                                    </div>

                                                </li>

                                                <li class="isotope-item product type-product instock product_cat-uncategorized has-post-thumbnail shipping-taxable purchasable product-type-simple">

                                                    <div class="image_frame scale-with-grid product-loop-thumb" ontouchstart="this.classList.toggle('hover');">
                                                        <div class="image_wrapper">
                                                            <a href="product.html">
                                                                <div class="mask"></div><img src="images/products/potatoes.jpg" class="scale-with-grid wp-post-image" /></a>
                                                            <div class="image_links double">
                                                                <a rel="nofollow" href="#" data-quantity="1" data-product_id="115" class="add_to_cart_button ajax_add_to_cart product_type_simple"><i class="icon-basket"></i></a><a class="link" href="product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div><a href="product.html"><span class="product-loading-icon added-cart"></span></a>
                                                    </div>
                                                    <div class="desc">

                                                        <h4><a href="product.html">Potatoes</a></h4>

                                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&dollar;</span>1.20</span>
                                                        </span>

                                                    </div>

                                                </li>
                                                <li class="isotope-item product type-product instock product_cat-uncategorized has-post-thumbnail shipping-taxable purchasable product-type-simple">

                                                    <div class="image_frame scale-with-grid product-loop-thumb" ontouchstart="this.classList.toggle('hover');">
                                                        <div class="image_wrapper">
                                                            <a href="product.html">
                                                                <div class="mask"></div><img src="images/products/chili-peppers.jpg" class="scale-with-grid wp-post-image" /></a>
                                                            <div class="image_links double">
                                                                <a rel="nofollow" href="#" data-quantity="1" data-product_id="110" class="add_to_cart_button ajax_add_to_cart product_type_simple"><i class="icon-basket"></i></a><a class="link" href="product.html"><i class="icon-link"></i></a>
                                                            </div>
                                                        </div><a href="product.html"><span class="product-loading-icon added-cart"></span></a>
                                                    </div>
                                                    <div class="desc">

                                                        <h4><a href="product.html">Chili pepper</a></h4>

                                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&dollar;</span>3.10</span>
                                                        </span>

                                                    </div>

                                                </li>

                                            </ul>
                                        </div>
                                    </section>

                                </div>
                                <!-- #product-116 -->
                            </div>
                        </div>
                    </div>

                    <div class="section mcb-section" style="padding-top:50px;padding-bottom:30px;background-color:">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-fourth valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid no_border">
                                            <div class="image_wrapper"><img class="scale-with-grid" src="images/footer-logo.png" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-third valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <p>
                                                Studio 132 Everystreet
                                                <br> Manhatthan
                                                <br> NY 1234 USA
                                            </p>
                                            <p>
                                                Monday — Saturday: 8AM — 4PM
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap  two-fifth valign-top clearfix">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <h3><sup>+44</sup> 333 014 4501</h3>
                                            <hr class="no_line" style="margin:0 auto 10px" />

                                            <p>
                                                Email <span style="margin-right:10px;"></span><a href="#"><u><span>noreply@envato.com</span></u></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <footer id="Footer" class="clearfix">
        <div class="footer_copy">
            <div class="container">
                <div class="column one">
                    <div class="copyright">
                        &copy; 20XX Your Name - HTML by <a target="_blank" rel="nofollow" href="https://1.envato.market/9ZxXY">BeantownThemes</a>
                    </div>
                    <ul class="social">
                        <li class="facebook">
                            <a href="#" title="Facebook"><i class="icon-facebook"></i></a>
                        </li>
                        <li class="twitter">
                            <a href="#" title="Twitter"><i class="icon-twitter"></i></a>
                        </li>
                        <li class="instagram">
                            <a href="#" title="Instagram"><i class="icon-instagram"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    </div>


    <!-- JS -->
    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="js/ui/jquery-ui.min.js"></script>

    <script src="js/mfn.menu.js"></script>
    <script src="js/jquery.plugins.js"></script>
    <script src="js/jquery.jplayer.min.js"></script>
    <script src="js/animations.js"></script>
    <script src="js/translate3d.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/email.js"></script>

</body>

</html>